@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@media screen and (min-width: 1024px) {
    html{
        scrollbar-width: thin;
        scrollbar-color: #222222 white;
        margin-top: 10px;
    }

    body{
        scrollbar-width: thin;
        scrollbar-color: #222222 white;
        /* margin-top: 20px; */
    }

    nav{
        scrollbar-width: thin;
        /* width: 100vw; */
    }

    .content-subjects{
        scrollbar-width: thin;
        /* visibility: hidden; */
    }

    .content-subjects:hover{
        visibility: visible;
    }
    
    ::-webkit-scrollbar{
        width: .5vw;
        height: .6vh;
    }
    
    ::-webkit-scrollbar-thumb{
        background-color: #222222a2;
        border-radius: 100vw;
    }
    
    ::-webkit-scrollbar-track{
        margin-block: .3rem;
        background-color: white;
        border-radius: 100vw;
    }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', 'Arial', sans-serif;
    /* overflow-x: hidden; */
}

.wrapper{
    max-width: inherit;
    height: inherit;
}
a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 150px; */
    z-index: 100;
    background-color: white;
    /* padding-top: .8rem; */
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.header, .logo, .logo-name{
    /* height: 50%; */
    display: flex;
    align-items: center;
}

.header{
    /* background-color: brown; */
    justify-content: space-between;
    padding-inline: 18px;
    position: sticky;
    right: 0;
    left: 0;
    width: 100%;
}

.header .material-symbols-outlined{
    font-size: 2rem;
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 200,
    'opsz' 48
}

.fa-youtube{
    color: red;
    font-size: 1.8rem;
}

.logo{
    gap: 10px;
    padding-inline: 12px;
}

.menu-toggle:hover{
    border-radius: 50%;
    display: inline-block;
    padding: 4px 4px;
    border-radius:50%;
    background-color: rgb(229,229,229);
}

.logo .menu-icon{
    font-size: 1.7rem;
}

.logo h1{
    letter-spacing: -1px;
    font-size: 1.5rem;
}

.logo h1 sup{
    color: rgb(96, 96, 96);
    font-size: 10px;
    font-weight: 400;
}

.searchbar>.material-symbols-outlined{
    font-size: 1.6rem;
    background-color: rgb(249,249,249);
    padding: .5rem .6rem;
    border-radius: 50%;
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 200,
    'opsz' 48
}

.searchbar{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 7px;
    /* background-color: red; */
    padding-inline: 8px;
}

.search{
    /* background-color: green; */
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.search .search-icon{
    font-size: 2rem;
    background-color: rgb(248,248,248);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 3px 10px;
    border: 1px solid rgb(204,204,204);
}

#search{
    width: 90%;
    height: 40px;
    /* background-color: green; */
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid rgb(204,204,204);
    padding-inline: .8rem;
}

#search::placeholder{
    color: rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.icons{
    display: flex;
    align-items: center;
}

.icons .material-symbols-outlined{
    margin-inline: 1rem;
}

.icons .profile-photo{
    font-size: 1.5rem;
    background-color: rgb(236,64,122);
    color: white;
    border-radius: 50%;
    /* padding: .2rem .8rem; */
    width: 35px;
    height: 35px;
    padding: .2rem .7rem;
}

.content-subjects{
    padding-top: 7px;
    /* margin-top: 18px; */
    margin-left: 18rem;
    display: flex;
    gap: 12px;
    overflow: auto;
    /* background-color: red; */
    height: 48px;
}

.content-subjects-collapsed{
    margin-left: 8rem;
}

.content-subjects::-webkit-scrollbar{
    /* width: .6vw; */
    height: .6vh;
    /* visibility: hidden; */
}

.content-subjects::-webkit-scrollbar-thumb{
    background-color: #222222a2;
    border-radius: 100vw;
    visibility: hidden;
}

.content-subjects::-webkit-scrollbar-thumb:hover{
    visibility: visible;
}

.content-subjects::-webkit-scrollbar-track{
    margin-block: .5rem;
    background-color: white;
    border-radius: 100vw;
}

.box{
    /* width: fit-content; */
    height: 32px;
    /* min-width: 12px; */
    white-space: nowrap;
    background-color: rgb(242,242,242);
    padding: .4rem .8rem;
    border-radius: 8px;
    /* overflow: auto; */
    font-size: 14px;
}

.all{
    background-color: rgb(15, 15, 15);
    color: white;
}

.app-bar{
    /* background-color: red; */
    display: flex;
    max-width: 100vw;
    height: inherit;
    /* gap: 30px; */
    padding-top: 70px;
}
/* 
Gave it a position of fixed so it wont be scrolled with the rest of the page and used
padding to push it down and gave it a high z-index so it will be showing when it is scrolling down */
nav{
    padding-top: 10px;
    width: 20%;
    position: fixed;
    top: 70px;
    left: 0;
    bottom: 0;
    overflow: auto;
    z-index: 100;
    transition: width 0.2s;
    /* background-color: white; */
}

.nav-collapsed{
    width: 7%;
    position: fixed;
    top: 42px;
    left: 0;
    bottom: 0;
    padding-top: 47px;
}

.nav-collapsed .large-menu-list{
    display: none;
}

.nav-collapsed .sidebar{
    padding-inline: 1px;
}

.nav-collapsed .sidebar li{
    margin-bottom: 20px;
    padding-left: 0px;
}

.nav-collapsed .sidebar li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .7rem;
    text-align: center;
    padding: 0 5px;
}

.nav-collapsed .sidebar li .subscriptions{
    font-size: .7rem;
}


nav::-webkit-scrollbar-thumb{
    /* background-color: #222222a2; */
    border-radius: 100vw;
    visibility: hidden;
}

nav::-webkit-scrollbar-thumb:hover{
    visibility: visible;
}

nav .sidebar{
    padding-inline: .7rem;
    /* background-color: green; */
    padding-left: 5px;
}

.sidebar .material-symbols-outlined{
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 200,
    'opsz' 48
}

.sidebar .active .material-symbols-outlined{
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 200,
    'opsz' 48
}

nav .sidebar li{
    padding-left: 8px;
    /* background-color: red; */
    width: 100%;
    cursor: pointer;
}

nav .sidebar .sub-heading{
    padding-left: 10px;
    margin-block: 15px;
}

.active{
    background-color: rgb(242,242,242);
    border-radius: 8px;
}

nav .sidebar li a{
    display: flex;
    align-items: center;
    gap: 12px;
    /* background-color: red; */
    padding-left: 10px;
    padding-block: .8rem;
    font-size: 14px;
}

nav .sidebar li a:hover{
    background-color: rgb(242,242,242);
    border-radius: 8px;
}

.small-side-bar{
    display: none;
}

.line-break{
    margin-block: 7px;
}

.line-break hr{
    border: none;
    border-top: 1px solid rgb(229,229,229);
}

.sub-profile img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.main-content{
    /* background-color: blue; */
    margin-left: 280px;
    margin-right: 15px;
    /* margin-inline: auto; */
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px 30px;
    width: 100%;
    height: inherit;
    padding-top: 50px;
    padding-left: 10px;
}

.main-content-collapsed{
    margin-left: 120px;
}

.main-content .link{
    height: 100%;
}

.main-content .video-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* height: 100%; */
    max-width: 100%;
}

.main-content .video-item>img{
    width: 100%;
    border-radius: 10px;
}

.main-content .video-item .video-name{
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
}

.main-content .video-item .video-info{
    /* margin-inline: auto; */
    margin-left: 37px;
    display: flex;
    flex-direction: column;
}

.main-content .video-item .video-info p{
    font-size: 12px;
    color: rgb(96, 96, 96);
    line-height: 18px;
}

.main-content .video-item .video-info span{
    display: flex;
}

.main-content .video-item .name, .main-content .video-item .video-info{
    display: flex;
}

.main-content .video-item .video-info .check-circle{
    font-size: 15px;
    font-variation-settings: 
        'FILL' 1
    /* background-color: #ddd; */
}

.main-content .video-item .profile-pic{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
}

.main-content .video-item h3{
    color: rgb(15, 15, 15);
    font-weight: 500;
    font-size: 14px;
    white-space: wrap;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.app-bar>hr{
    border: none;
    border-top: 2px solid blue;
}


@media screen and (max-width: 2560px) {
    nav{
        width: 10%;
    }
    
}

/* For big screen laptop */
@media screen and (max-width: 1440px) {
    .app-bar{
        max-width: 100vw;
    }
    nav{
        width: 20%;
    }

    .main-content{
        grid-template-rows: repeat(auto-fill, minmax(230px, 1fr));
        /* margin-left: 300px; */
    }
}

/* Main tab screen */
@media screen and (max-width: 1104px) {
    .searchbar>.material-symbols-outlined{
       font-size: 1.5rem;
    }
    header{
        padding-top: .8rem;
        padding-inline: 1vw;
    }
    .header .material-symbols-outlined{
        font-size: 1.5rem;
        font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 200,
        'opsz' 48
    }

    .logo{
        gap: 30px;
    }

    .logo .menu-icon{
        margin-left: 10px;
    }

    .searchbar{
        width: 30vw;
        display: flex;
        align-items: center;
        gap: 7px;
    }

    .search .search-icon{
        padding: 5px 10px;
    }

    #search{
        height: 36px;
    }

    .content-subjects{
        margin-left: 7rem;
    }
    .small-side-bar{
        width: 10%;
        position: fixed;
        top: 42px;
        left: 0;
        bottom: 0;
        padding-top: 47px;
        display: block;
        /* position: fixed;
        top: 10px; */
    }

    .big-side-bar{
        display: none;
    }

    /* .small-side-bar{
        width: 10%;
        position: fixed;
        top: 42px;
        left: -300px;
        bottom: 0;
        padding-top: 47px;
        transition: 0.3s linear;
    } */
    
    .small-side-bar .clicked{
        left: 0;
    }
    
    .small-side-bar .sidebar{
        padding-inline: 1px;
    }
    
    .small-side-bar .sidebar li{
        margin-bottom: 20px;
    }
    
    .small-side-bar .sidebar li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: .7rem;
        text-align: center;
        padding: 0 5px;
    }
    
    .small-side-bar .sidebar li .subscriptions{
        font-size: .7rem;
    }

    .sidebar .line-break, .sidebar .download, .sidebar .history, .sub-heading, .sidebar .sub-profile{
        display: none;
    }

    .sidebar .line-break, .sidebar .your-videos, .sidebar .watch-later, .sidebar .liked-videos, .sidebar .show-more{
        display: none;
    }

    .main-content{
        margin-left: 120px;
        padding-top: 80px;
        gap: 0px 30px;
    }

    .main-content .video-item .video-info{
        /* margin-inline: auto; */
        margin-left: 40px;
        display: flex;
        flex-direction: column;
    }

    .main-content{
        grid-template-rows: repeat(auto-fill, minmax(280px, 1fr));
    }
}

@media screen and (max-width: 920px){
    .main-content{
        grid-template-rows: repeat(auto-fill, minmax(290px, 1fr));
    }
}

/* Main phone screen */
@media screen and (max-width: 660px) {
    @supports (scrollbar-color: red blue){
        *{
            scrollbar-width: none;
        }
    }
    header{
        height: 100px;
        padding-block: 1rem;
        gap: 0;
    }

    .header, .header .logo{
        padding-inline: 0;
    }
    .searchbar{
        display: none;
    }

    .header .material-symbols-outlined{
        font-size: 1.5rem;
    }

    .fa-youtube{
        font-size: 1.4rem;
    }
    .icons .profile-photo{
        font-size: 1.2rem;
        background-color: rgb(236,64,122);
        color: white;
        border-radius: 50%;
        padding: .3rem .8rem;
    }
    .content-subjects{
        margin-inline: .8rem;
        margin-top: 10px;
    }

    nav, .small-side-bar, .big-side-bar{
        display: none;
    }

    
    .sidebar .line-break{
        display: none;
    }

    .main-content{
        margin-inline: 10px;
        padding-top: 50px;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(295px, 1fr));
        row-gap: 20px;
    }

    .main-content .video-item .video-info{
        /* margin-inline: auto; */
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 520px){
    .main-content{
        grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
        margin-left: 30px;
    }
    
    .main-content .video-item .video-info{
        /* margin-inline: auto; */
        margin-left: 40px;
        display: flex;
        flex-direction: column;
    }

    .main-content .video-item .video-name h3{
        font-size: 16px;
        word-wrap: nowrap;
    }
}

@media screen and (max-width: 390px){
    .logo{
        gap: 5px;
    }
    .header{
        justify-content: space-between;
        padding-inline: none;
        width: 100%;
    }
    .icons .material-symbols-outlined{
        margin-inline: .5rem;
    }

    .icons .profile-photo{
        font-size: 1.2rem;
        background-color: rgb(236,64,122);
        color: white;
        border-radius: 50%;
        padding: .2rem .6rem;
    }

    .main-content{
        grid-template-rows: repeat(auto-fill, minmax(290px, 1fr));
        margin-left: 20px;
        margin-right: 5px;
    }

}
